
.alert {
    border-left: 3px solid;
    margin-bottom: $padding-bottom;
    padding: 10px;

    p:last-child {
        margin-bottom: 0;
      }
}
    .danger {
      background-color: lighten($danger, 20);
      border-color: $danger;
      color: darken($danger, 15);
    }
  
    .success {
      background: lighten($success, 20);
      border-color: $success;
      color: darken($success, 10);
    }
  
    .warning {
      background: lighten($warning, 20);
      border-color: $warning;
      color: darken($warning, 10);
    }
  
    .info {
      background: lighten($info, 20);
      border-color: $info;
      color: darken($info, 10);
    }
  
    .empty {
      background: #f4f4f4;
      border: 1px dashed map-get($grays, "100" );
      text-align: center;
    }
  
    
  