// AMBoilerplate Mixins

//prepend an element to current selection
@mixin prepend($element) {
    @at-root #{$element + &} {
        @contemt;
    }
}


//Scafolding mixins

//create container full width
@mixin container-create($grid-gutter: $grid-gutter-width) {
    width:100;
    padding: 0 $grid-gutter/2;
    margin: 0 auto;
}
//create container that adjust to media breakpoints
@mixin container-limited-create($width: $container-max-widths, $breakpoints: $grid-breakpoints) {
    @each $breakpoint, $container-max-width in $width {
        @include media-breakpoint-up($breakpoint, $breakpoints) {
            max-width: $container-max-width;
        }
    }
}

//create row for flex display
@mixin row-create($size, $columns: $grid-columns) {
    flex: 0 0 percentage($size/$columns);
    max-width: percentage($size/$columns);

}
//create container for 2D grid
@mixin grid-2D-create($X-size,  $Y-size, $columns: $grid-2D-columns, $rows: $grid-2D-rows) {
    
}
